body {
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    color: rgb(232, 230, 227);
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.top {
    display: inline-block;
    text-align: center;
}

.top a {
    color: rgba(232, 230, 227, 0.87);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

button:hover {
    padding: 1.15em;
}

.nav {
    display: flex;
    align-content: center;
    padding: 1px;
    margin: .5em 1.75em;
}

#top-left, #top-right {
    padding: 10px;
    word-spacing: 1em;
}

#top-left {
    align-self: center;
}

#top-right {
    margin-left: auto;
    align-self: center;
}

#apps {
    vertical-align: text-bottom;
}

#sign-in {
    background-color: #004daa;
    color: white;
    padding: .5em 1em;
    font-size: 14px;
}

.btn {
    color: #e8e6e3;
    background-color: #181a1b;
    padding: 1em 1em;
    margin: 0 5px;
    margin-top: 2em;
    border: 1px solid #f2f2f2;
    border-color: rgb(52, 56, 58);
    cursor: pointer;
}

.main {
    text-align: center;
    margin: 4em auto;
    padding: 10px;
}

.google-logo {
    margin-bottom: 1.25em;
}

.search-bar {
    border: 1px solid #454a4d;
    display: flex;
    width: 43%;
    text-align: center;
    border-radius: 30px;
    margin: 0 auto;
    padding: 9px 12px;
}

.search-bar:hover {
    width: 44%;
    box-shadow: 2px 3px 2px rgb(169, 162, 151);
}

#bar {
    background-color: transparent;
    border: 0;
    color: white;
    padding: 0 1em;
    flex-grow: 1.5;
    text-shadow: none;
    outline: none;
    font-size: 18px;
}

.search-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: rgb(24, 26, 27);
    font-size: 14px;
}

.footer a {
    color: rgb(169, 162, 151);
    padding: .5rem;
}

.left, .right {
    padding: 1rem;
    display: inline-block;
}

.right {
    float: right;
}

@media only screen and (max-width: 1200px) {
    .search-bar {
        width: 60%;
    }
}

@media only screen and (max-width: 640px) {
    .main {
        position: relative;
        text-align: center;
    }

    .inner-div {
        margin: 0 auto;
    }

    .search-bar {
        width: 75%;
    }

    .search-bar:hover {
        width: 76%;
    }

    .footer {
        text-align: center;
    }

    .left {
        display: none;
    }

    .right {
        float: none;
    }

    .right a {
        margin: 0 1em;
    }
}

@media only screen and (max-width: 460px) {
    #top-left {
        display: none;
    }

    #top-right {
        margin: 0 auto;
    }
    
    #top-right a {
        padding: 0 10px;
    }

    #sign-in {
        padding: 0.5em 0;
    }
    
    .google-logo {
        width: 50%;
    }

    input {
        width: 75%;
    }
}
